@import "./breakpoint.less";
@import "./mixin.less";
@import "~aos/dist/aos.css";
@import (css) url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
@import (css)
  url("https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Montserrat");

html {
  font-size: 14px;

  body {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: @brand-white !important;
    margin: 0;
    position: relative;

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.5em;
    }

    p {
      font-weight: normal;
      font-size: 1em;
      letter-spacing: 0.01em;
      line-height: 1.5em;
      -webkit-margin-after: 1em;
    }

    header {
      height: 6em;
      width: 100%;
      overflow: visible;
      position: fixed;
      z-index: 1000;
      background-color: @brand-white;
      padding: 0;

      .boxed {
        height: inherit;
        margin: 0 auto;
        display: flex;
        padding: 0;

        .brand {
          height: 100%;
          float: left;
          display: flex;
          align-items: center;

          .logo {
            width: 3em;
            display: flex;
            margin: 0 1em;

            .leaf-1 {
              width: 2em;
              height: 2.1em;
              border-bottom-left-radius: 2em;
              border-top-right-radius: 2em;
              background: @brand-primary;
              transform: rotate(-10deg);
              margin-right: 0.2em;
            }

            .leaf-2 {
              width: 2em;
              height: 2.1em;
              border-bottom-right-radius: 2em;
              border-top-left-radius: 2em;
              background: @brand-primary;
              transform: rotate(10deg);
              margin-left: 0.2em;
              animation: voaa 1s infinite alternate ease-in-out;
              transform-style: preserve-3d;
            }
          }

          .name {
            width: 10em;
            font-weight: 500;
            float: left;
            overflow: visible;
            margin: 0;
          }
        }

        .brand,
        .base-nav {
          a {
            position: relative;
            color: @brand-black;
            text-decoration: none;
          }

          a:hover {
            color: @brand-black;
          }

          a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: @brand-black;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }

          a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }

          .active:before {
            height: 0;
          }

          .active:hover {
            cursor: pointer;
          }
        }
      }
    }

    .shrinking-header {
      height: 4em;
      background-color: @brand-primary;
      -webkit-animation-name: shrinking-header;
      animation-name: shrinking-header;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      opacity: 0.98;
      .smooth-transition;
      border-radius: 0 0 0.2em 0.2em;
      padding: 0;

      .boxed {
        padding: 0;

        .brand {
          .logo {
            opacity: 0.4;

            .leaf-1 {
              background: #073b4c;
            }

            .leaf-2 {
              background: #073b4c;
            }
          }
        }

        .brand a:before,
        .base-nav .nav-item a:before {
          background-color: @brand-black;
        }

        .base-nav .nav-item {
          .active {
            background-color: @brand-white;
          }
        }
      }
    }
    @-webkit-keyframes shrinking-header {
      from {
        height: 6em;
        background-color: @brand-white;
      }

      to {
        height: 4em;
        background-color: @brand-primary;
      }
    }
    @keyframes shrinking-header {
      from {
        height: 6em;
        background-color: @brand-white;
      }

      to {
        height: 4em;
        background-color: @brand-primary;
      }
    }

    .expanding-header {
      background-color: @brand-white;
      -webkit-animation-name: expanding-header;
      animation-name: expanding-header;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      .smooth-transition;
    }
    @-webkit-keyframes expanding-header {
      from {
        height: 4em;
        background-color: @brand-primary;
      }

      to {
        height: 6em;
        background-color: @brand-white;
      }
    }
    @keyframes expanding-header {
      from {
        height: 4em;
        background-color: @brand-primary;
      }

      to {
        height: 6em;
        background-color: @brand-white;
      }
    }

    .header-spacer {
      height: 6em;
    }

    .main {
      position: relative;
      background-color: @brand-white;
      margin: 0 auto;
      overflow: hidden;
    }

    footer {
      background-color: @brand-black-light;
      opacity: 0.92;
      overflow: hidden;
      font-weight: bold;
      color: @brand-white-lighter;

      .boxed {
        padding: 2em 0;

        a {
          color: @brand-white-lighter;
        }

        a:active,
        a:focus {
          color: @brand-white;
          text-decoration: none;
        }

        .contact {
          border-bottom: 0.1em #434242 solid;
          display: flex;
          align-items: center;
          justify-content: center;

          ul {
            padding: 0;
            margin: 0 auto;

            li {
              text-align: center;
            }

            a:hover,
            li:hover {
              color: @brand-white;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }

        .social {
          display: inline-block;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            background-color: @brand-black-light;
            color: @brand-white-lighter;
            line-height: 0;
            border: 0;

            i:hover {
              color: @brand-white;
            }
          }
        }

        .animate-footer-social {
          -webkit-transform: translate3d(0, 20em, 0);
          -moz-transform: translate3d(0, 20em, 0);
          -ms-transform: translate3d(0, 20em, 0);
          -o-transform: translate3d(0, 20em, 0);
          transform: translate3d(0, 20em, 0);
          animation: come-up 0.6s ease forwards;
          .smooth-transition;
          opacity: 1;
        }

        .animate-footer-social:nth-child(odd) {
          animation-duration: 0.4s;
          .smooth-transition;
        }

        .author {
          color: @brand-white-lighter;
          display: flex;
          align-items: center;
          justify-content: center;

          a:hover {
            color: @brand-white;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }
    }
  } // end body
}
