@brand-primary: #06D6A0;
@brand-secondary: #A0DAE5;
@brand-tertiary: #FFD166;
@brand-red: #EF476F;
@brand-white: #FFFFFF;
@brand-white-light: #efefef;
@brand-white-lighter: #bcbec0;
@brand-black: #333232;
@brand-black-light: #042733;
@alert-red: #a94442;

@-webkit-keyframes come-up {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0);
    -o-transform: translate3d(0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes come-up {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0);
    -o-transform: translate3d(0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.white-font {
  color: @brand-white-light;
  text-shadow: none;
}

.black-font {
  color: @brand-black;
  text-shadow: none;
}

.center {
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

.alert-box {
  border: 2px solid @alert-red;
}

.transition-effect(@speed: .4s) {
  -webkit-transition: all @speed ease-out;
  -moz-transition: all @speed ease-out;
  -ms-transition: all @speed ease-out;
  -o-transition: all @speed ease-out;
  transition: all @speed ease-out;
}

.smooth-transition {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
