@import "breakpoint.less";
@import "mixin.less";

@media only screen and (min-width: @small-device) {
  header {
    .boxed {
      .brand {
        width: 90%;

        .name {
          font-size: 1.6em;
        }
      }

      .base-nav {
        display: none;
      }

      .mobile-menu {
        float: right;
        height: 100%;
        display: flex;
        align-items: center;

        button {
          border: 0;

          i {
            font-size: 1.5em;
          }
        }
      }

      .mobile-backdrop {
        position: absolute;
        left: 0;
        height: 100vh;
        width: 60%;
        background-color: @brand-black-light;
        z-index: 1002;
        opacity: 0.5;
      }

      .mobile-nav {
        position: absolute;
        right: 0;
        width: 40%;
        height: 100vh;
        z-index: 1001;
        background-color: @brand-white;
        text-align: right;
        line-height: 2em;
        letter-spacing: 0.02em;
        flex-direction: column;

        .nav-close {
          height: 2em;
          width: 100%;
          background-color: @brand-tertiary;
          text-align: left;
        }

        .nav-item {
          .active {
            background-color: @brand-primary;
          }

          .nav-link {
            color: @brand-black;

            :hover {
              background-color: @brand-primary;
            }
          }
        }
      }

      .animate-drawer {
        -webkit-transform: translate3d(20em, 0, 0);
        -moz-transform: translate3d(20em, 0, 0);
        -ms-transform: translate3d(20em, 0, 0);
        -o-transform: translate3d(20em, 0, 0);
        transform: translate3d(20em, 0, 0);
        animation: come-up 0.1s ease forwards;
        .smooth-transition;
      }
    }
  }

  .shrinking-header .base-nav .mobile-menu {
    :hover {
      color: @brand-white !important;
    }
  }

  .main {
    width: 95%;

    h3 {
      font-size: 1.5em;
    }

    .content {
      padding: 0 !important;
    }

    #about-us,
    #contact-us,
    #home,
    #services,
    #thank-you,
    #oops {
      padding-top: 0.5em;

      .section-header {
        display: none;
      }

      .text {
        padding-top: 0.5em;
      }
    }

    #home {
      .content {
        #presentation {
          margin-bottom: 1em;

          .static {
            overflow: hidden;
            border-radius: 0.5em;

            img {
              width: 100%;
              height: auto;
            }
          }

          .carousel {
            display: none;
          }
        }
      }
    }

    #about-us {
      .content {
        .profile {
          height: auto;
          overflow: hidden;
          margin-bottom: 1em;

          .personnel-image {
            height: auto;
            width: 100%;
            border-radius: 0.2em;
          }
        }

        .text {
          width: 100%;
        }
      }
    }

    #services {
      .content {
        .service-list {
          opacity: 0.92;
          margin-bottom: 1em;

          ul {
            background-color: #a0dae5;
            border-radius: 0.2em;
            padding: 1em;
            text-align: center;

            li {
              display: inline-block;
              padding: 1em;
              font-size: 1.2em;
            }
          }
        }
      }
    }

    #contact-us {
      padding-bottom: 2em;

      .content {
        padding-top: 2em;

        form {
          .form-group {
            .fa-asterisk {
              color: @alert-red;
              padding: 0 0.5em;
              font-size: 0.8em;
            }
          }

          #contact-submit {
            width: 100%;
          }
        }

        hr {
          height: 0.1em;
          background-color: #118ab2;
          width: 75%;
        }
      }
    }

    #thank-you,
    #oops {
      .content {
        padding-top: 5em;
      }
    }
  }

  footer {
    margin-top: 5em;

    .boxed {
      margin: 0 1em;

      .contact {
        margin-top: 2em;

        ul {
          li {
            display: block;
            padding: 0.2em 0;
          }

          li:last-child {
            margin-bottom: 1em;
          }
        }
      }

      .social {
        margin: 2em 0;

        a {
          font-size: 3.2em;
          letter-spacing: 0.2em;
        }
      }

      .author {
        margin-bottom: 2em;

        ul {
          margin: 2em 0;
          padding: 0;
          margin: 0;

          li {
            list-style-type: none;
            text-align: center;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: @medium-device) {
  header {
    padding-top: 1.5em;

    .boxed {
      max-width: 80em;
      padding: 0 1em 1em;

      .brand {
        width: 40%;

        .name {
          font-size: 1.5em;
        }
      }

      .base-nav {
        height: 100%;
        max-width: 60%;
        overflow: hidden;
        display: flex !important;
        justify-content: flex-end;
        align-items: center;

        .nav-item {
          padding-top: 0.2em;

          .active {
            background-color: @brand-primary;
          }

          .nav-link {
            color: @brand-black;
            font-size: 1em;
          }
        }
      }

      .mobile-menu {
        display: none;
      }

      .mobile-nav {
        display: none;
      }
    }
  }

  .main {
    width: 90%;

    .section-header {
      display: block;
    }

    #about-us,
    #contact-us,
    #home,
    #services,
    #thank-you,
    #oops {
      min-height: 40em;

      .section-header {
        display: block;
        margin: 2em 0;
      }

      .content {
        width: 100%;
        padding: 1em 2em;
      }
    }

    #home {
      .content {
        #presentation {
          height: 30em;
          overflow: hidden;
          margin-bottom: 2em;
          border-radius: 0.2em;

          .static {
            display: none;
          }

          .carousel {
            display: block;
            margin: 0 auto;
            height: 30em;

            .carousel-inner {
              .carousel-item {
                img {
                  width: auto;
                  height: 100%;
                }
              }
            }

            a[class*="carousel-control"] {
              width: 10%;
            }

            a[class*="carousel-control"]:hover {
              background-color: #424242;
              opacity: 0.2;
            }
          }

          .main {
            p {
              .inline-anchor {
                font-weight: bold;
              }
            }
          }

          img::before {
            content: "";
            background-repeat: repeat;
            filter: blur(0.5em);
          }

          img {
            width: 100%;
            height: auto;
          }

          img::after {
            content: "";
            background-repeat: repeat;
            z-index: -1;
          }
        }
      }
    }

    #about-us {
      .content {
        .profile {
          display: block;
          width: 50%;
          height: auto;
          float: right;
          padding: 0 0 0 4em;
        }

        .text {
          width: 50%;
          float: left;
          padding: 0 1em 0 0;
        }
      }
    }

    #services {
      .content {
        .service-list {
          margin-bottom: 4em;

          ul {
            li {
              padding: 2em;
              font-size: 1.2em;
              line-height: 2em;
            }
          }
        }
      }
    }

    #contact-us {
      .content {
        padding-top: 2em !important;
        padding-bottom: 0 !important;

        form {
          padding: 0 4em;

          #email,
          #name,
          #phone,
          #subject {
            width: 75%;
          }

          #message {
            width: 100%;
          }

          #contact-submit {
            margin-top: 1em;
            width: 10em;
          }
        }

        hr {
          height: 0.1em;
          background-color: #118ab2;
          width: 75%;
        }
      }
    }
  }

  footer {
    margin-top: 5em;

    .boxed {
      padding: 0 !important;

      .contact {
        ul {
          margin: 2em 0 !important;
          display: inline-block;

          li {
            padding: 0 1em !important;
            font-size: 1em;
            display: table-cell !important;
            border-right: 0.1em #434242 solid;
          }

          li:last-child {
            border-right: 0;
          }
        }
      }

      .social {
        margin: 1em 0 !important;

        a {
          padding: 0.2em;

          i {
            font-size: 1.2em;
            letter-spacing: 0.1;
          }

          i:hover {
            transform: scale(1.4);
          }
        }
      }

      .author {
        margin-bottom: 2em;

        ul {
          margin: 2em 0 !important;
        }
      }
    }
  }
}
@media only screen and (min-width: @large-device) {
  header {
    .boxed {
      .brand {
        .name {
          font-size: 2em;
        }
      }

      .base-nav {
        width: 60%;

        .nav .nav-item {
          font-size: 1em;
        }
      }
    }
  }

  .main {
    .content {
      padding: 1em 2em !important;
    }

    #contact-us {
      form {
        padding: 0 4em;

        #email,
        #name,
        #phone,
        #subject {
          width: 65%;
        }

        #message {
          width: 90%;
        }
      }
    }
  }
}
@media only screen and (min-width: @x-large-device) {
  .main {
    width: 70em;

    #contact-us {
      form {
        padding: 0 4em;

        #email,
        #name,
        #phone,
        #subject {
          width: 50%;
        }

        #message {
          width: 80%;
        }
      }
    }
  }
}
@media only screen and (min-width: @xx-large-device) {
}
@media only screen and (min-width: @xxx-large-device) {
}
@media only screen and (min-width: @largest-device) {
}
